<p>home works!</p>

<div>
  <label>Show Primary:</label>
  <input type="checkbox" [(ngModel)]="showPrimary" (change)="filterData()" />

  <label>Show Secondary:</label>
  <input type="checkbox" [(ngModel)]="showSecondary" (change)="filterData()" />
</div>

<table *ngIf="details$ | async as data">
  <thead>
    <tr>
      <th>Name</th>
      <th>Section</th>
      <!-- Add more headers as needed -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>

      <!-- Display other properties as needed -->
    </tr>
  </tbody>
</table>
